@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  --background-color: rgb(255, 255, 255);
  --primary-font-color: #000000;
  --background-hover-color: #000000;
  --font-hover-color: #fcfcfc;
  --medium-font-size: 2em;
  --title-section-font-size: 7em;
  --text-section-font-size:8em
  --title-section-font-weight:400;
  --text-section-font-weight:400;
  color-scheme: light dark;
  background-color: #ffffffee;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--primary-font-color);
  /* outline: 2px solid red; */
  background-color: var(--background-color);
}
body {
  height: auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.displayNone{
  display: none;
}
nav {
  position: fixed;
  top: 0;
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  max-height: 50px;
  z-index: 2;
}
nav > a {
  width: fit-content;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav > a > h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 200;
  cursor: pointer;
  transition-property: var(--background-color);
  transition-duration: 1s;
}
nav > a > h3:hover {
  background-color: var(--background-hover-color);
  color: var(--font-hover-color);
}
#home-section {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  overflow-y: hidden;
}
#home-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  margin-top: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
#home-text-container > h1 {
  font-size: 10em;
  font-weight: 600;
 
}
#home-below-text-container {
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
#home-below-text-container > h3 {
  font-size: var(--title-section-font-size);
  justify-content: center;
  font-weight: 200;
  height: 15vh;
}
#sliderContainer {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
}
#sliderContainer > h5 {
  position: relative;
  justify-content: center;
  /*   top: 1em; */
  font-weight: 300;
  font-size: 1.5em;
}
#sliderContainer > h6 {
  position: relative;
  margin-top: 1em;
  font-weight: 300;
  justify-content: center;
  font-size: large;
  font-style: italic;
  /* top: 2em; */
}
/*aboutme Section
 */
#aboutme {
  height: 100vh;
  min-height: 90vh;
  top: 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  padding: 2em;
}
#aboutme > h3 {
  left: 2em;
  top: 2.5em;
  font-size: var(--title-section-font-size);
  font-weight: 400;
}

#aboutme-text-container {
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0.5em;
  gap: 0px;
  margin: 2em;
}
#aboutme-text-container > p {
  font-size: 2em;
  font-weight: 200;
  height: 100%;
  width: 100%;
}
#aboutme-text-container > a {
   font-size: 2em;
  font-weight: 200;
  text-decoration: underline;
  cursor: pointer;
}
#modal {
  position: fixed;
  top: 20%;
  left: 30%;
  background-color: aqua;
  width: 40%;
  height: 40%;
  z-index: 2; 
  justify-content: center; 
  align-items: center;   
}

.modal-container {
  background-color: rgb(5, 5, 5); 
  position: fixed;
  object-fit: contain;
  padding: 2em;
  text-align: center;
  position: relative; 
}
#selfimage-link{
  max-width: auto;
  max-height: auto;
  background-color: #000000;
}
#modal-text-container,
#secondModal-selector{
  background-color: #000000;
  color: #fcfcfc;
}
#modal-text-container{
  background-color: aquamarine;

}
#selfimage-link > img {
  width: 70%; 
  height: 60%; 
  object-fit: contain;
  
}
#secondModal-selector{
  cursor: pointer;
  text-decoration: underline;
}
#close-modal {
  position: absolute;
  color: #fcfcfc;
  background-color: #000000;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#education {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2em;
  
}
#education > h3 {
   font-size: var(--title-section-font-size);
    font-weight: 400;
}
.educationTextContainer > p,
#relevant-courses > ul,
#relevant-courses > p {
    font-size: 1.5em;
  font-weight: 300;
}
#experience{
   height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2em;
}
#experience > h3 {
   font-size: var(--title-section-font-size);
    font-weight: 400;
}
#work-exp  {
  font-size: 1.25em;
  font-weight: 300;
}

