#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact > h3 {
  margin-top: 1em;
}
.contact-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 70%;
}
.contact-text-container > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
  margin: 3em;
}
.contact-text-container > ul > li {
  list-style: none;
}
